<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="{view.description}" />
    <title>{view.title} - anticore-demo</title>
    <link rel="stylesheet" href="/assets/css/dist.css" />
    <link rel="icon" type="image/svg+xml" href="/assets/img/favicon.svg">
    <script type="importmap">
      {
        "imports": {
          "@anticore-contracts/tree-insert/on.js": "https://ga.jspm.io/npm:@anticore-contracts/tree-insert@2.0.5/on.js",
          "@anticore-contracts/tree-view/on.js": "https://ga.jspm.io/npm:@anticore-contracts/tree-view@1.0.5/on.js",
          "anticore": "https://ga.jspm.io/npm:anticore@4.6.3/index.js",
          "anticore/defaults.js": "https://ga.jspm.io/npm:anticore@4.6.3/defaults.js",
          "anticore/trigger.js": "https://ga.jspm.io/npm:anticore@4.6.3/trigger.js",
          "/assets/js/dist.js": "/assets/js/main.js"
        }
      }
    </script>
    <script src="/assets/js/es-pim.js" type="module"></script>
  </head>
  <body>
    <header>
      <h1>anticore-demo</h1>
      <p><label><input data-sse="./ping" type="checkbox" />Ping: {ping}</label></p>
    </header>
    {view}
    <footer>
      <ol>
        <li><a href="https://github.com/Lcfvs/anticore" rel="noopener noreferrer" target="_blank">Check the documentation</a></li>
        <li><a href="https://glitch.com/edit/#!/anticore-demo?path=src/assets/js/main.js" rel="noopener noreferrer" target="_blank">Check the sources</a></li>
      </ol>
    </footer>
  </body>
</html>
